body {
    width: 1900px;
    margin: 0;
    padding: 0px;
}

section {
    width: 1440px;
    padding: 0 120px;
}

/* shaared style */

.primary-text {
    color: #727272
}


@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
}


/* styles for nav */
header{
    background-color:rgba(255, 144, 14, 0.1);
}

nav{
    display: flex;
    justify-content: space-between;
    margin:0 auto;
    padding-top: 40px;
   
   
    
    
}
.nav-list{
    display: flex;
    list-style: none;
    gap: 30px;
}
.nav-list a{
    text-decoration: none;
}


/* banner */


.banner img{
    margin-bottom: 45px;
}
.banner-text{
    text-align: center;
    
}
.banner-text h1{
    font-size: 4rem;
    font-weight: 700
}
.banner-text p{
    color: #727272;
    line-height: 26px;
   
    width: 868px;
    margin: 0 auto;
}

.primary-btn{
    color: white;
    background-color: #FF900E;
    padding: 12px 24px;
    border: none;
    border-radius: 8px;
    margin-bottom: 50px;
    margin-top: 32px;

}


/* feauture */

.feature{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 75px;
    margin-top: 85px;
   
}


.feature-img{
    display: grid;
    gap:24px;
    grid-template-columns: repeat(2,1fr);
}
.text-1{
    font-size: 2.8rem;
    font-weight: 500;
    
}
.text-2{
    font-size: 2.8rem;
    font-weight: 700;
}

.text-3{
    font-size: 2.8rem;
    font-weight: 700;
    color: #FF900E;
}

.another-feature{
    display: flex;
    gap: 145px;
    margin-top: 130px;
    align-items: center;
    justify-content: center;
}
.feature-info h1{
    font-size: 2.8rem;
    font-weight: 700;
    padding-left: 20px;
    border-left: 5px solid #FF900E;
    
}

.feature-info p{
    color: #727272;
    line-height: 26px;
}
.feature-text p{
    font-size: 1rem;
    font-weight: 500;
    color: #727272;
    line-height: 26px;
}

.feature-cards{
    padding: 20px;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
    margin-bottom: 15px;
}

.feature-btn{
    padding:35px;
    color: white;
    background-color: #FF900E;
    border: none;
    border-radius: 8px;
    margin-top: -100px;
    margin-left: -100px;
}
.btn-text-1{
    font-size: 4rem;
    font-weight: 700;
    line-height: 70px;
}
.btn-text-2{
    font-size: 1.5rem;
    color: white;
    line-height: 40px;
}



/* cards */
.facts-section{
    margin-top: 130px;
}

.facts-section h1{
    font-size: 2.8rem;
    font-weight: 700;
}

.facts-section .fact-text{

    color: #727272;
    line-height: 26px;
    width: 540px;
    margin-bottom: 100px;

}
.facts-cards{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 124px;
    
}


.fact-info{
    text-align: center;
    border: 1px solid #FF900E;
    padding: 45px 35px;
    border-radius: 8px;
}
.fact-info img{
    width: 45px;
    height: 45px;

}

.fact-info span{
    font-size: 2.8rem;
    font-weight: 600;
    display: block;
}

.fact-info p{
    font-size: 1.25rem;
    color: #727272;
    font-weight: 600;
}


/* sponsors */
.sponsor-text{
    text-align: center;
    margin-top: 180px;
    margin-bottom: 50px;
    
}
.sponsor-text h1{
    font-size: 2.8rem;
    font-weight: 700;
}
.sponsor-text p{
    line-height: 26px;
    color: #727272;
    
}

.sponsors-icon{
    display: grid;
    grid-template-columns: repeat(5,1fr);
   gap: 155px;
    align-items: center;
    justify-content: center;
    filter: grayscale(100%);
    margin-bottom: 130px;
}


/* footer */
footer span{
    font-size: 20px;
    color: #727272;
    text-align: center;
    padding: 39px 410px;
    background-color: rgba(255, 144, 14, 0.1);
   
}
footer{
    margin-bottom: 215px;
}


/* responsive css */


@media screen and (max-width:576px) {
    
    
}


